@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background: rgb(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border: 0;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

.horarios-mundo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    color: #fff; /* Texto branco para contraste */
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.horarios-mundo h3 {
    margin: 0 0 5px;
    font-size: 20px;
    text-align: center;
}

.horarios-mundo p {
    margin: 5px 0;
}

.titulo-brasilia {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff; /* Cor branca para contraste */
}
